$orange: #F18119;
$grey: #404040;
$white: #FFF;
$primary-font: #404040;

@mixin flexCenter($direction){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    color: $primary-font;
    font-family: 'Source Sans 3', sans-serif;
}
//Typography
h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: $white;
    line-height: 1.2;
    margin: 0;
    strong {
        font-size: inherit;
        color: inherit;
        font-weight: 900;
    }
}
h2 {
    font-size: 1.3125rem;;
}
h3 {
    margin-bottom: 1em;
    font-size: 1.4rem;
}
.intro {
    p {
        font-size: .625rem;
        margin: 0;
        padding-top: 1em;
        font-weight: 700;
        &::before {
            content: '';
            position: absolute;
            top: 0px;
            height: 5px;
            width: 140px;
            background: linear-gradient(162deg, rgba(255,165,29,1) 45%, rgba(255,113,59,1) 80%);
        }
    }
}
.subheading {
    color: $orange;
    text-transform: uppercase;
    letter-spacing: 1.6;
}
button {
background: rgb(255,165,29);
background: linear-gradient(162deg, rgba(255,165,29,1) 45%, rgba(255,113,59,1) 80%);
}

//Layout
.wrapper {
    text-align: center;
}
.intro {
    background: url(/images/dark-ribs.jpg) left bottom/cover no-repeat;
    height: 358px;
    @include flexCenter(column);
    p {
        order: -1;
    }
}


