$orange: #F18119;
$grey: #404040;
$white: #FFF;

@mixin flexCenter($direction){
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: $direction;
}
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 1rem;
    font-family: 'Source Sans 3', sans-serif;
}
//Typography
h1 {
    font-size: 2.25rem;
    font-weight: 300;
    color: $white;
    span {
        font-size: inherit;
        font-weight: 900;
    }
}
h2 {
    font-size: 1.3125rem;;
}
p {
    font-size: .625rem;
}
.subheading {
    color: $orange;
    text-transform: uppercase;
    letter-spacing: 1.6;
}
button {
background: rgb(255,165,29);
background: linear-gradient(162deg, rgba(255,165,29,1) 45%, rgba(255,113,59,1) 80%);
}
//Layout
.wrapper {
    text-align: center;
}
.section-one {
    background: url(/images/dark-ribs.jpg) center/cover no-repeat;
    height: 358px;
    @include flexCenter(column)
}